; Example configuration file for Common Inbox
; For syntax highlighting in VIM: set filetype=dosini

[__INBOX__]
; (Human-readable) name of this CInbox.
; Will be used in logs, but also as name for temporary subfolder in DIR_TEMP
INBOX_NAME = CInbox Test-and-Demo Config

; Folder where CInbox keeps its temporary files (such as cached hashes,
; filesystem-stat listings to determine cooloff-time, etc.
DIR_TEMP = /var/cinbox

; Time to wait until no more changes are happening to any file/folder of an
; Item before starting to process it.
COOLOFF_TIME = 0

; This option allows to filter out (=ignore) certain filesystem stats to detect
; cooloff, in case some are producing false-positives that look like change.
COOLOFF_FILTERS[] = ino

; How many items to process "at once" in a run, without pausing in between.
ITEMS_AT_ONCE = 0

; Time (in seconds) to wait between each run.
PAUSE_TIME  = 1

; Time to wait (in minutes) for new items to appear, when the TODO list is empty.
; This is used to control flow (and logfile output/size).
WAIT_FOR_ITEMS = 3

; Keep the most recent (=youngest timestamp) Items in "DONE".
; More than that will be removed automatically.
; Set to 0 to keep none, and delete DONE items immediately. This can be useful
; when Items are large and space is an issue.
KEEP_FINISHED = 10

; 0 = Write logfiles in LOG folder.
; 1 = Move the logfiles along with its Item folder (=default and preferred).
MOVE_LOGFILES = 1

; Create a file on success/error to trigger external processes.
; That file will contain vitally necessary information (item_id,
; target_folders, etc) to help trigger subsequent other, external processes.
TOKEN_DONE = /tmp/cinbox_done-[@ITEM_ID@]-[@YEAR@][@MONTH@]-[@HOUR@][@MINUTE@][@SECOND@].txt
TOKEN_ERROR = /tmp/cinbox_error-[@ITEM_ID@]-[@DATETIME@].txt

; Working hours when to process new items (crontab syntax).
; Outside of "WORK_TIMES", the inbox will not accept any new items for
; processing.
; It may be used to avoid CInbox processing during the day, in order not to
; slow down network/performance throughput for staff on site.
; Monday to Friday, every minute.
WORK_TIMES[] = * * * * 1-5
; Monday to Friday, every 5 minutes, 9:00-17:00
;WORK_TIMES[] = */5 9-17 * * 1-5

; Filename for the generated directory listing (Tasks: DirList(CSV))
DIRLIST_FILE = metadata/[@ITEM_ID@]-[@YEAR@][@MONTH@][@DAY@]-list.csv
; Add a UTF-8 Byte-Order-Mark (BOM) at start of DIRLIST_FILE:
DIRLIST_BOM = false

; Regular Expression (RegEx) that an Item ID must match to be considered valid.
; See: https://regex101.com/ for help on regular expression syntax.
ITEM_ID_VALID[] = /^(v|vx|mk)-\d{5}(_b\d{2})?$/i

; Shell script to call, if you want to use custom subfolder "buckets".
; Takes the Item ID as input, and returns a string of nested subfolders.
;
; Common example:
; 'VS-00815' returns 'VX/00/VX-00815'
BUCKET_SCRIPT = [@PHP_SELF_DIR@]/plugins/objid_to_path.sh

; List of Tasks to process for each Item.
; The Tasks are executed in the exact order listed here.
;
; For more information on available task types, see:
; https://github.com/ArkThis/cinbox/blob/main/manual/CInbox_Markdown_Docs.md
TASKLIST[] = FilesWait
TASKLIST[] = DirListCSV
TASKLIST[] = CleanFilenames
TASKLIST[] = FilesValid
TASKLIST[] = FilesMustExist
; ------------------------
;TASKLIST[] = FFmpeg
TASKLIST[] = MediaConch
TASKLIST[] = MediaInfo
; ------------------------
TASKLIST[] = HashGenerate
TASKLIST[] = HashSearch
TASKLIST[] = CopyToTarget
TASKLIST[] = HashValidate
; Use PreProcs2 to create final TARGET parent folders:
TASKLIST[] = PreProcs2
TASKLIST[] = RenameTarget
TASKLIST[] = HashOutput
TASKLIST[] = PostProcs
TASKLIST[] = LogfileCopy


; =======================================
; The [__DEFAULT__] section contains configuration which is applied to any
; Item's (sub)folder. Values here can be overloaded in individual subfolder
; sections if necessary.
; =======================================
[__DEFAULT__]
; Sanitize filenames (using predefined lists, by name):
CLEAN_SOURCE[] = illegal
CLEAN_SOURCE[] = umlauts
;CLEAN_SOURCE[] = quotation

; Load external PHP snippet for custom character mappings:
CLEAN_CUSTOM[] = [@PHP_SELF_DIR@]/plugins/CleanFilenames_custom.php
;CLEAN_SOURCE[] = custom1

; Intermediate encoding to use to stripping out characters not present in the
; given encoding standard:
; Use 'iso-8859-1' for Latin1 characters (=removing all emojis or other Unicode symbols)
CLEAN_CONVERT = iso-8859-1
;CLEAN_CONVERT = ASCII


HASH_TYPE = md5
HASH_OUTPUT = folder
HASH_FILENAME = MD5SUMS.md5
HASH_FILEFORMAT = GNU
HASH_SEARCH_CACHE = false

UPDATE_FOLDERS = create
UPDATE_FILES = create

; Don't copy files containing hashcodes, since they will be replaced by "HashOutput":
COPY_EXCLUDE[] = *.md5

; Copy and rename logfile after successful processing:
LOG_COPY_DIR = [@DIR_HOME@]/archive/part2/video/[@BUCKET@]
LOG_COPY_NAME = [@ITEM_ID_LC@].cv


[__UNDEFINED__]
; Here goes config for folders that have no config section.



; =======================================
; [.] = Config applied to the ROOT folder of each Item.
; All settings here are inherited to subfolders, and may optionally be
; overloaded there.
;
; Popular example:
; TARGET_FOLDER in [.] is used as base to copy all subfolders that have NO own
; TARGET_FOLDER setting, keeping the Item's structure as-is. While adding
; TARGET_FOLDER to a subfolder section, allows /just that/ subfolder (tree) to
; go somewhere else when being written by "CopyToTarget".
; =======================================
[.]
TARGET_STAGE = [@DIR_HOME@]/archive/STAGE/part2/[@ITEM_ID@]
TARGET_FOLDER = [@DIR_HOME@]/archive/part2/video/[@BUCKET@]


; PREPROCS / POSTPROCS:
; =============================
; Custom pre-processing scripts to call at the beginning of the TaskList.
; Those can be anything that the underlying OS can execute. Usually it's
; shell-scripts, but could be any other runnable command.
;
; PreProcs/PostProcs settings are arrays, to support a list of commands to run
; in the order given.
; If you need to run several custom scripts at the same position in the
; Tasklist, just add as many "PreProcs[]" as you like.
;
; If you need to run your scripts at different positions in the tasklist, there
; are 3 default TaskTypes existing for this:
; * PreProcs,  PreProcs2,  PreProcs3.
; * PostProcs, PostProcs2, PostProcs3.

; plugins/mkparent.sh is used to prepare deeply nested folder structures:
PREPROCS[] = [@PHP_SELF_DIR@]/plugins/mkparent.sh [@DIR_TARGET_STAGE@]
PREPROCS2[] = [@PHP_SELF_DIR@]/plugins/mkparent.sh [@DIR_TARGET@]

; A list of GLOB patterns that the FilesWait Task will stay in TODO, until they
; exist. This allows an CInbox to wait for certain files/folders before
; starting its processing.
; Common use-case is that 2 different workflows/operators populate an Item over
; a period of time, such as one puts "The Data" in, and at a later time,
; hashcode manifests are provided.

; Example: Enable this to wait until unicorns appear:
;FILES_WAIT[] = '*.unicorn'

; Search in all those GLOB patterns for hashcodes to match against.
; The syntax of those files is irrelevant:
; CInbox calculates the hash of the present data and searches for it in all
; files matching HASH_SEARCH.
HASH_SEARCH[] = *.xml

; A list of GLOB patterns for entries (files or folders) that must exist.
; MUST_EXIST options can be declared for each subfolder, to allow sanity checks
; on a given Item.
MUST_EXIST[] = hires
MUST_EXIST[] = lowres
MUST_EXIST[] = metadata


[hires]
; The "plugins/preproc.sh" script is just for testing/debugging commandline arguments
; or to see which actual value a certain placeholder would have when being called:
;PREPROCS[] = [@PHP_SELF_DIR@]/plugins/preproc.sh [@ITEM_ID@] [@DIR_SOURCE@] [@DIR_TARGET@]
;PREPROCS2[] = [@PHP_SELF_DIR@]/plugins/preproc.sh [@DAY@] [@MONTH@] [@YEAR@]

; Policy for CopyToTarget used to avoid overwriting existing Items in the final
; archival location.
; Valid options:
;   1. create: Will only CREATE new folders on the target. Throws an error if the target folder already exists.
;   2. update: Target folder MUST EXIST already, so CInbox may add additional files to an Item.
;   3. create_or_update: Creates a new folder if not already existing, and adds files if it already exists.
UPDATE_FILES = create_or_update

;FILES_WAIT[] = *.ding

HASH_SEARCH[] = *.md5
HASH_SEARCH[] = MD5SUMS
HASH_MUST_EXIST[] = *.avi

FILES_VALID[] = *.avi
FILES_VALID[] = *.md5
FILES_VALID[] = *.xxx

; Hidden files (unix):
;FILES_VALID[] = .[!.]*
;FILES_INVALID[] = .[!.]*

MUST_EXIST[] = *.avi

; Force filename cases:
;NAMECASE_UPPER = md5sums
;NAMECASE_LOWER = *.*
;NAMECASE_UPPER_SUFFIX = *.xxx
;NAMECASE_LOWER_SUFFIX = *.MD5

# FFmpeg Task:
;FFMPEG_IN[] = *.avi
;FFMPEG_OUT[] = [@FILE_IN_NOEXT@].mkv
;FFMPEG_RECIPE[] = /usr/bin/ffmpeg -i [@FILE_IN@] -c copy -map 0 [@FILE_OUT@] 2>>[@LOGFILE@]

# MediaConch Profile checks
MEDIACONCH_IN[] = *.mkv
MEDIACONCH_OUT[] = [@FILE_IN@]-mediaconch_report.txt
MEDIACONCH_RECIPE[] = /usr/bin/mediaconch -mc -p [@DIR_HOME@]/cinbox-data/_assets/policy/mkv_policy.xml --Output-Text=[@FILE_OUT@] --Output-Json=[@FILE_OUT_NOEXT@].json --policyVerbosity=0 [@FILE_IN@]


MEDIAINFO_IN[] = *.mkv
MEDIAINFO_OUT[] = [@FILE_IN@]-mediainfo.json
MEDIAINFO_RECIPE[] = /usr/bin/mediainfo -f --Language=raw --Logfile=[@FILE_OUT@] [@FILE_IN@] > /dev/null


; The "plugins/postproc.sh" script is identical to "preproc.sh".
;POSTPROCS[] = [@PHP_SELF_DIR@]/plugins/postproc.sh [@ITEM_ID@] [@DIR_SOURCE@] [@DIR_TARGET@] [@YEAR@]


[metadata]
FILES_VALID[] = *.txt
FILES_VALID[] = *.png
FILES_VALID[] = *.xml
FILES_VALID[] = *.csv

FILES_INVALID[] = *.doc
FILES_INVALID[] = *.docx


[lowres]
TARGET_STAGE = [@DIR_HOME@]/archive/STAGE/part1/[@ITEM_ID@]
TARGET_FOLDER = [@DIR_HOME@]/archive/part1/video/[@BUCKET@]

PREPROCS[] = [@PHP_SELF_DIR@]/plugins/mkparent.sh [@DIR_TARGET_STAGE@]
PREPROCS2[] = [@PHP_SELF_DIR@]/plugins/mkparent.sh [@DIR_TARGET@]

MUST_EXIST[] = *.mpg
HASH_SEARCH[] = *.md5

POSTPROCS[] = [@PHP_SELF_DIR@]/plugins/postproc.sh [@DIR_BASE@]


